extends ../layouts/master

block content

    +slideshow-advanced-effects()
        li
            .uk-position-cover(uk-slideshow-parallax="scale: 1.05,1.05,1")
                img(src="@/images/slideshow/slideshow-promo-1.jpg" srcset="${require ('@/images/slideshow/slideshow-promo-1.jpg')}, ${require ('@/images/slideshow/slideshow-promo-mobile-1.jpg')} 640w" alt="" uk-cover)
            .uk-position-cover(uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
            a.uk-position-cover(href="#")
                .uk-container.uk-position-relative.uk-height-1-1
                    .uk-position-bottom-left.uk-width-1-1.uk-text-center(class="uk-text-left@m")
                        div(uk-slideshow-parallax="scale: 1,1,0.8")
                            h1.uk-text-bold(uk-slideshow-parallax="x: 200,0,0") MUCİZELER DİYARI,<br>HER ANI EŞSİZ
        li
            .uk-position-cover(uk-slideshow-parallax="scale: 1.05,1.05,1")
                img(src="@/images/slideshow/slideshow-promo-2.jpg" srcset="${require ('@/images/slideshow/slideshow-promo-2.jpg')}, ${require ('@/images/slideshow/slideshow-promo-mobile-2.png')} 640w" alt="" uk-cover)
            .uk-position-cover(uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
            a.uk-position-cover(href="#")
                .uk-container.uk-position-relative.uk-height-1-1
                    .uk-position-bottom-left.uk-width-1-1.uk-text-center(class="uk-text-left@m")
                        div(uk-slideshow-parallax="scale: 1,1,0.8")
                            h1.uk-text-bold(uk-slideshow-parallax="x: 200,0,0") FİNALDE SON MÜCADELE<br>ŞAMPİYONLAR NUHUN GEMİSİ’NDE
        li
            .uk-position-cover(uk-slideshow-parallax="scale: 1.05,1.05,1")
                img(src="@/images/slideshow/slideshow-promo-1.jpg" srcset="${require ('@/images/slideshow/slideshow-promo-1.jpg')}, ${require ('@/images/slideshow/slideshow-promo-mobile-1.jpg')} 640w" alt="" uk-cover)
            .uk-position-cover(uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
            a.uk-position-cover(href="#")
                .uk-container.uk-position-relative.uk-height-1-1
                    .uk-position-bottom-left.uk-width-1-1.uk-text-center(class="uk-text-left@m")
                        div(uk-slideshow-parallax="scale: 1,1,0.8")
                            h1.uk-text-bold(uk-slideshow-parallax="x: 200,0,0") MUCİZELER DİYARI,<br>HER ANI EŞSİZ
        li
            .uk-position-cover(uk-slideshow-parallax="scale: 1.05,1.05,1")
                img(src="@/images/slideshow/slideshow-promo-2.jpg" srcset="${require ('@/images/slideshow/slideshow-promo-2.jpg')}, ${require ('@/images/slideshow/slideshow-promo-mobile-2.png')} 640w" alt="" uk-cover)
            .uk-position-cover(uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
            a.uk-position-cover(href="#")
                .uk-container.uk-position-relative.uk-height-1-1
                    .uk-position-bottom-left.uk-width-1-1.uk-text-center(class="uk-text-left@m")
                        div(uk-slideshow-parallax="scale: 1,1,0.8")
                            h1.uk-text-bold(uk-slideshow-parallax="x: 200,0,0") FİNALDE SON MÜCADELE<br>ŞAMPİYONLAR NUHUN GEMİSİ’NDE

    include ../components/section/templates/reservation-form

    section.uk-section.uk-padding-remove-bottom.uk-margin-medium-bottom.section-content-text-bg(uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-left-medium; delay: 300;")
        .uk-container
            .uk-section.uk-section-small.uk-text-center.uk-background-center-center.uk-background-contain.uk-background-norepeat(data-src="@/images/icons/logo-simple.svg" uk-img uk-scrollspy-class)
                h2.uk-h3.uk-margin-remove KONAKLAMA
                span.uk-text-primary(uk-icon="icon: icn-wave;")
                p.uk-margin-small Nuh’un Gemisi Deluxe Hotel & Spa’ya Hoş Geldiniz

    section.uk-section.slideshow-pull.slideshow-pull-home.uk-padding-remove-top(uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-bottom-medium; delay: 300;")
        .uk-position-relative.uk-margin-auto(class="uk-width-3-4@l" uk-scrollspy-class)
            .uk-slideshow.uk-position-relative(uk-slideshow="animation: pull; max-height: 700; velocity: 0.6")
                ul.uk-slideshow-items
                    li
                        a.uk-position-cover(href="konaklama.html")
                            img(data-src="@/images/slideshow/slideshow-home.jpg" alt="" uk-cover uk-img)
                            .uk-position-bottom-right.uk-position-medium.uk-light
                                h5.uk-margin-remove DELUXE SEA VIEW
                    li
                        a.uk-position-cover(href="konaklama.html")
                            img(data-src="@/images/slideshow/slideshow-home.jpg" alt="" uk-cover uk-img)
                            .uk-position-bottom-right.uk-position-medium.uk-light
                                h5.uk-margin-remove DELUXE SEA VIEW

                .uk-slidenav-container.uk-position-bottom-left
                    a.uk-slidenav.uk-flex.uk-flex-right.uk-flex-middle.uk-background-default.primary(href="#" uk-slideshow-item="previous")
                        span(uk-icon="icon: icn-arrow-left")
                    a.uk-slidenav.uk-flex.uk-flex-middle.uk-background-default.primary(href="#" uk-slideshow-item="next")
                        span(uk-icon="icon: icn-arrow-right")

    section.uk-section.uk-section-muted.section-content-slider-left(uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-left-medium; delay: 300;")
        .uk-container
            .uk-grid.uk-grid-collapse.uk-flex-center(uk-grid)
                div(class="uk-width-5-6@m")
                    .uk-grid.uk-flex-middle(uk-grid)
                        div(class="uk-width-2-3@m")
                            .uk-grid.uk-grid-collapse.uk-overflow-hidden
                                div(class="uk-width-5-6@m")
                                    .uk-margin.uk-text-center(class="uk-hidden@m")
                                        h3.uk-margin-remove ETKİNLİKLER
                                        span.uk-text-primary(uk-icon="icon: icn-wave;")
                                    .swiper-container.swiper-activity-gallery.uk-overflow-visible(uk-scrollspy-class)
                                        .swiper-wrapper.uk-child-width-1-1
                                            .swiper-slide
                                                div(data-swiper-parallax="0" data-swiper-parallax-opacity="0.3" data-swiper-parallax-scale="0.8" data-swiper-parallax-x="300")
                                                    img(data-src="@/images/card/etkinlik-1.jpg" alt="" uk-img)
                                            .swiper-slide
                                                div(data-swiper-parallax="0" data-swiper-parallax-opacity="0.3" data-swiper-parallax-scale="0.8" data-swiper-parallax-x="300")
                                                    img(data-src="@/images/card/etkinlik-2.jpg" alt="" uk-img)
                                            .swiper-slide
                                                div(data-swiper-parallax="0" data-swiper-parallax-opacity="0.3" data-swiper-parallax-scale="0.8" data-swiper-parallax-x="300")
                                                    img(data-src="@/images/card/etkinlik-3.jpg" alt="" uk-img)
                                            .swiper-slide
                                                div(data-swiper-parallax="0" data-swiper-parallax-opacity="0.3" data-swiper-parallax-scale="0.8" data-swiper-parallax-x="300")
                                                    img(data-src="@/images/card/etkinlik-4.jpg" alt="" uk-img)
                                        .swiper-pagination

                        div(class="uk-width-1-3@m")
                            div(uk-scrollspy-class)
                                div(class="uk-visible@m")
                                    h2.uk-h3.uk-margin-remove ETKİNLİKLER
                                    span.uk-text-primary(uk-icon="icon: icn-wave;")
                                .uk-margin
                                    .swiper-container.swiper-activity-content
                                        .swiper-wrapper.uk-text-secondary
                                            .swiper-slide
                                                time(date-time="16.06.2018") 16.06.2018
                                                p.uk-text-large.uk-text-bold.uk-margin-smalll-top.uk-margin-remove-bottom ETKİNLİK 1
                                                p.uk-text-small.uk-margin-remove-top Bayram keyfiniz Efsane olsun…
                                                a.uk-link-reset(href="etkinlik-detay.html" uk-icon="icon: icn-arrow-right")
                                                    span Detay
                                            .swiper-slide
                                                time(date-time="16.06.2018") 16.06.2018
                                                p.uk-text-large.uk-text-bold.uk-margin-smalll-top.uk-margin-remove-bottom ETKİNLİK 2
                                                p.uk-text-small.uk-margin-remove-top Bayram keyfiniz Efsane olsun…
                                                a.uk-link-reset(href="etkinlik-detay.html" uk-icon="icon: icn-arrow-right")
                                                    span Detay
                                            .swiper-slide
                                                time(date-time="16.06.2018") 16.06.2018
                                                p.uk-text-large.uk-text-bold.uk-margin-smalll-top.uk-margin-remove-bottom ETKİNLİK 3
                                                p.uk-text-small.uk-margin-remove-top Bayram keyfiniz Efsane olsun…
                                                a.uk-link-reset(href="etkinlik-detay.html" uk-icon="icon: icn-arrow-right")
                                                    span Detay
                                            .swiper-slide
                                                time(date-time="16.06.2018") 16.06.2018
                                                p.uk-text-large.uk-text-bold.uk-margin-smalll-top.uk-margin-remove-bottom ETKİNLİK 4
                                                p.uk-text-small.uk-margin-remove-top Bayram keyfiniz Efsane olsun…
                                                a.uk-link-reset(href="etkinlik-detay.html" uk-icon="icon: icn-arrow-right")
                                                    span Detay

    +grid-card(
        'GÜNÜN HER ANI DOPDOLU',
        'Nuh’un Gemisi’nde eğlencenin binbir rengi var.'
    )(class="uk-visible@s")
        div(class="uk-width-1-3@m")
            .uk-inline-clip.uk-transition-toggle.uk-light(tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/balayi.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h5 BALAYI
                a.uk-transition-fade.uk-position-cover.uk-overlay.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center.background-secondary-gradient.uk-link-reset(href="balayi.html")
                    div
                        h5.uk-margin-small BALAYI
                        p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
                        span.uk-button Detay
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-3@m")
            .uk-inline-clip.uk-transition-toggle.uk-light(tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/karina-spa-2.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h5 KARİNA & SPA
                a.uk-transition-fade.uk-position-cover.uk-overlay.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center.background-secondary-gradient.uk-link-reset(href="karina-spa.html")
                    div
                        h5.uk-margin-small KARİNA & SPA
                        p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
                        span.uk-button Detay
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-3@m")
            .uk-inline-clip.uk-transition-toggle.uk-light(tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/casino.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h5 CASINO
                a.uk-transition-fade.uk-position-cover.uk-overlay.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center.background-secondary-gradient.uk-link-reset(href="casino.html")
                    div
                        h5.uk-margin-small CASINO
                        p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
                        span.uk-button Detay
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")

    section.uk-section(class="uk-hidden@s")
        .uk-container
            .uk-section.uk-section-small.uk-text-center.uk-background-center-center.uk-background-contain.uk-background-norepeat(uk-scrollspy-class data-src="@/images/icons/logo-simple.svg" uk-img)
                h2.uk-h3.uk-margin-remove GÜNÜN HER ANI DOPDOLU
                span.uk-text-primary(uk-icon="icon: icn-wave;")
                p.uk-margin-small Nuh’un Gemisi’nde eğlencenin binbir rengi var.
            .uk-section.uk-section-small(uk-scrollspy-class)
                .uk-slider(uk-slider)
                    ul.uk-slider-items.uk-grid.uk-grid-medium
                        li(class="uk-width-5-6")
                            img(data-src="@/images/grid/balayi.jpg" uk-img alt="")
                            .uk-margin.uk-text-center
                                h5.uk-margin-small BALAYI
                                p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
                                a.uk-button(href="balayi.html") Detay
                                    span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li(class="uk-width-5-6")
                            img(data-src="@/images/grid/karina-spa-2.jpg" uk-img alt="")
                            .uk-margin.uk-text-center
                                h5.uk-margin-small KARİNA & SPA
                                p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
                                a.uk-button(href="karina-spa.html") Detay
                                    span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li(class="uk-width-5-6")
                            img(data-src="@/images/grid/casino.jpg" uk-img alt="")
                            .uk-margin.uk-text-center
                                h5.uk-margin-small CASINO
                                p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
                                a.uk-button(href="casino.html") Detay
                                    span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")

    +grid-card(
        'EĞLENCE SU GİBİ',
        'Aquapark’ta sadece çocuklar mı eğlenir? Nuh’un Gemisi’nde değil!'
    )(data-src="@/images/grid/home-bg.jpg" data-srcset="${require ('@/images/grid/home-bg.jpg')}, ${require ('@/images/grid/home-bg-mobile.jpg')} 959w" uk-img class="uk-background-contain uk-background-norepeat uk-background-bottom-center uk-padding-remove-top grid-card-bg")
        div(class="uk-width-1-2@m")
            .uk-inline-clip.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/cocuk-kulubu-2.jpg" uk-img alt="" class="uk-visible@s")
                .uk-light(class="uk-visible@s")
                    .uk-position-bottom-center
                        h5 ÇOCUK KULUBÜ
                    a.uk-transition-fade.uk-position-cover.uk-overlay.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center.background-secondary-gradient.uk-link-reset(href="cocuk-kulubu.html")
                        div
                            h5.uk-margin-small ÇOCUK KULUBÜ
                            p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
                            span.uk-button Detay
                                span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                .uk-margin.uk-text-secondary(class="uk-hidden@s")
                    a.uk-text-center.uk-link-reset(href="cocuk-kulubu.html")
                        img.uk-margin-small(data-src="@/images/grid/cocuk-kulubu-2.jpg" uk-img alt="" class="uk-hidden@s")
                        h5.uk-margin-small ÇOCUK KULUBÜ
                        p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
        div(class="uk-width-1-2@m")
            .uk-inline-clip.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/aqua.jpg" uk-img alt="" class="uk-visible@s")
                .uk-light(class="uk-visible@s")
                    .uk-position-bottom-center
                        h5 AQUA PARK & HAVUZLAR & PLAJ
                    a.uk-transition-fade.uk-position-cover.uk-overlay.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center.background-secondary-gradient.uk-link-reset(href="aqua.html")
                        div
                            h5.uk-margin-small AQUA PARK & HAVUZLAR & PLAJ
                            p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
                            span.uk-button Detay
                                span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                .uk-margin.uk-text-secondary(class="uk-hidden@s")
                    a.uk-text-center.uk-link-reset(href="aqua.html")
                        img.uk-margin-small(data-src="@/images/grid/aqua.jpg" uk-img alt="" class="uk-hidden@s")
                        h5.uk-margin-small AQUA PARK & HAVUZLAR & PLAJ
                        p.uk-margin-small Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen
